.App {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1557318041-1ce374d55ebf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80);
  background-size: contain;
  background-repeat: initial;
  height: 100vh;
}

.App-header {
  min-height: 70px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.questionCard {
  background-color: white;
  margin-top: 15em;
  margin-left: 40em;
  margin-right: 40em;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.responseCard {
  font-size: x-large;
  line-height: 14px;
  display: inline-grid;
  justify-items: baseline;
  margin-left: -5em;
}

.tableCard {
  background-color: white;
  margin-top: 2em;
  margin-left: 30em;
  margin-right: 30em;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}